Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: python3.9
default_stages:
  - commit-msg
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: local
    hooks:
      - id: lint_package_update
        name: Update package for lint environment
        entry: hatch run lint:install-packages
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_style
        name: Check Python Style
        entry: hatch run lint:style
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_typing
        name: Check Python Typing
        entry: hatch run lint:typing
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: eslint
        name: Check JavaScript Style and Typing
        entry: npm run lint
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "javascript"

fix: don't pull html-to-markdown into the 'all' extra
  pyproject.toml
Due: none

docs: add reference page for excluding files with .robotignore
  docs/03_reference/discovering-tests.md
  docs/03_reference/ignoring-files.md
Due: none

chore(release): bump version 2.6.0 → 2.6.1
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

docs(news): add v2.6.1 release notes
  docs/news/2026-06-15-whats-new-v2.6.1.md
Due: none

fix(vscode): refresh the Test Explorer after a language server restart
  vscode-client/extension/testcontrollermanager.ts
Due: none

docs(news): cover v2.6.2 alongside v2.6.1 in the release notes
  docs/news/2026-06-15-whats-new-v2.6.2.md
Due: none

chore(release): bump version 2.6.1 → 2.6.2
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore: update some dependencies
  package-lock.json
Due: none

chore: add reference to AGENTS.md in CLAUDE.md
  CLAUDE.md
Due: none

feat(robotcode): run tests through a wrapper
  docs/03_reference/cli.md
  docs/03_reference/config.md
  docs/03_reference/index.md
  docs/03_reference/wrapper.md
  docs/public/schemas/robot.toml.json
  package.json
  packages/debugger/src/robotcode/debugger/cli.py
  packages/debugger/src/robotcode/debugger/launcher/server.py
  packages/plugin/src/robotcode/plugin/click_helper/wrappable.py
  packages/repl/src/robotcode/repl/cli.py
  packages/repl_server/src/robotcode/repl_server/cli.py
  packages/robot/src/robotcode/robot/config/model.py
  packages/runner/src/robotcode/runner/cli/robot.py
  src/robotcode/cli/__init__.py
  tests/robotcode/cli/__init__.py
  tests/robotcode/cli/test_wrapper.py
  tests/robotcode/plugin/test_wrappable.py
  tests/robotcode/robot/config/test_wrapper.py
  vscode-client/extension/debugmanager.ts
Due: lint_package_update, python_style, python_typing

test(robotcode): shell-quote wrapper test path
  tests/robotcode/cli/test_wrapper.py
Due: lint_package_update, python_style, python_typing

fix(runner): preserve multiline message text in results truncation
  packages/runner/src/robotcode/runner/cli/results/results.py
Due: lint_package_update, python_style, python_typing

chore: update AI_POLICY.md links in issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

feat(robot): make the analysis cache trustworthy under rapid file changes
  packages/analyze/src/robotcode/analyze/cache/cli.py
  packages/core/src/robotcode/core/documents_manager.py
  packages/core/src/robotcode/core/text_document.py
  packages/core/src/robotcode/core/utils/path.py
  packages/language_server/src/robotcode/language_server/common/parts/documents.py
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
  packages/robot/src/robotcode/robot/diagnostics/import_resolver.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  tests/robotcode/analyze/test_cache_cli.py
  tests/robotcode/core/test_disk_info.py
  tests/robotcode/core/test_documents_manager.py
  tests/robotcode/core/test_text_document.py
  tests/robotcode/language_server/common/test_documents_part.py
  tests/robotcode/robot/diagnostics/test_document_cache_helper.py
  tests/robotcode/robot/diagnostics/test_import_resolver_dependency_metas.py
  tests/robotcode/robot/diagnostics/test_namespace_cache.py
  tests/robotcode/robot/diagnostics/test_resource_meta_binding.py
Due: lint_package_update, python_style, python_typing

fix(robotcode): make the wrapper work in VS Code
  packages/debugger/src/robotcode/debugger/launcher/server.py
  src/robotcode/cli/__init__.py
  tests/robotcode/cli/test_wrapper.py
  tests/robotcode/debugger/__init__.py
  tests/robotcode/debugger/test_launcher.py
Due: lint_package_update, python_style, python_typing

fix(vscode): restore -I and -N options when running tests
  docs/03_reference/discovering-tests.md
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/testing/DataItems.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/testing/RobotCodeTestManager.kt
  packages/runner/src/robotcode/runner/cli/discover/_models.py
  packages/runner/src/robotcode/runner/cli/discover/discover.py
  vscode-client/extension/debugmanager.ts
  vscode-client/extension/testcontrollermanager.ts
Due: lint_package_update, python_style, python_typing

chore: exclude .claude from eslint and prettier
  .prettierignore
  eslint.config.mjs
Due: eslint

fix(robotcode): make the wrapper work on Windows
  docs/03_reference/wrapper.md
  src/robotcode/cli/__init__.py
  tests/robotcode/cli/test_wrapper.py
Due: lint_package_update, python_style, python_typing

test: materialize parametrize argvalues to silence a pytest deprecation
  tests/robotcode/language_server/robotframework/parts/test_code_action_show_documentation.py
  tests/robotcode/language_server/robotframework/parts/test_document_highlight.py
  tests/robotcode/language_server/robotframework/parts/test_document_symbols.py
  tests/robotcode/language_server/robotframework/parts/test_foldingrange.py
  tests/robotcode/language_server/robotframework/parts/test_goto_definition.py
  tests/robotcode/language_server/robotframework/parts/test_goto_implementation.py
  tests/robotcode/language_server/robotframework/parts/test_hover.py
  tests/robotcode/language_server/robotframework/parts/test_references.py
  tests/robotcode/language_server/robotframework/parts/test_signature_help.py
Due: lint_package_update, python_style, python_typing

feat(robot): allow conditional no-status-rc
  docs/03_reference/config.md
  docs/public/schemas/robot.toml.json
  packages/robot/src/robotcode/robot/config/model.py
  scripts/generate_rf_options.py
  tests/robotcode/robot/config/test_profile.py
Due: lint_package_update, python_style, python_typing

fix(runner): verify conditional status rc in CI
  docs/public/schemas/robot.toml.json
  scripts/create_robot_toml_json_schema.py
  tests/robotcode/robot/config/test_profile.py
  tests/robotcode/robot/config/test_schema.py
  tests/robotcode/runner/cli/test_conditional_no_status_rc.py
Due: lint_package_update, python_style, python_typing

fix(plugin): use compact JSON separators for json output format
  packages/plugin/src/robotcode/plugin/__init__.py
Due: lint_package_update, python_style, python_typing

chore: update some dependencies
  docs/package.json
  package-lock.json
  package.json
Due: none

fix(vscode): adapt to vscode-languageclient 10 type changes
  vscode-client/extension/languageclientsmanger.ts
  vscode-client/extension/testcontrollermanager.ts
Due: none

docs(news): add v2.7.0 release notes
  docs/news/2026-07-15-whats-new-v2.7.0.md
Due: none

chore(release): bump version 2.6.2 → 2.7.0
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(docs): correct global user config file location
  docs/02_get_started/configuration.md
Due: none

fix(intellij): stop using internal EditorBundle API for tab command name
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/editor/RobotCodeEditorTabActionHandler.kt
  intellij-client/src/main/resources/messages/RobotCode.properties
Due: none

chore(scripts): use commitizen for dev versions
  scripts/tools.py
Due: lint_package_update, python_style, python_typing

feat(language-server): complete semantic-model Tier 1 semantic-tokens parity
  dev-docs/semantic-model.md
  openspec/changes/archive/2026-07-20-semantic-model-tier1-completion/.openspec.yaml
  openspec/changes/archive/2026-07-20-semantic-model-tier1-completion/design.md
  openspec/changes/archive/2026-07-20-semantic-model-tier1-completion/gap-list.md
  openspec/changes/archive/2026-07-20-semantic-model-tier1-completion/proposal.md
  openspec/changes/archive/2026-07-20-semantic-model-tier1-completion/specs/semantic-model-tier1-parity/spec.md
  openspec/changes/archive/2026-07-20-semantic-model-tier1-completion/tasks.md
  openspec/changes/semantic-model-tier1-completion/design.md
  openspec/changes/semantic-model-tier1-completion/tasks.md
  openspec/specs/semantic-model-tier1-parity/spec.md
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_documentation.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/signature_help.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/analyzer.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/enums.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/nodes.py
  tests/robotcode/language_server/robotframework/parts/test_semantic_tokens_flag_parity.py
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/test_analyzer.py
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/test_run_keyword_integration.py
Due: lint_package_update, python_style, python_typing

feat(language-server): move sidecar LSP features off ModelHelper
  dev-docs/semantic-model.md
  openspec/changes/archive/2026-07-23-semantic-model-sidecar-cleanup/.openspec.yaml
  openspec/changes/archive/2026-07-23-semantic-model-sidecar-cleanup/design.md
  openspec/changes/archive/2026-07-23-semantic-model-sidecar-cleanup/proposal.md
  openspec/changes/archive/2026-07-23-semantic-model-sidecar-cleanup/specs/semantic-model-sidecar-consumers/spec.md
  openspec/changes/archive/2026-07-23-semantic-model-sidecar-cleanup/tasks.md
  openspec/changes/semantic-model-sidecar-cleanup/tasks.md
  openspec/specs/semantic-model-sidecar-consumers/spec.md
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_lens.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/debugging_utils.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/hover.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/http_server.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/inline_value.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/keywords_treeview.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/model_variables.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/references.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/rename.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/selection_range.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/analyzer.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/model.py
  tests/robotcode/language_server/robotframework/parts/test_inline_value_model.py
  tests/robotcode/language_server/robotframework/parts/test_selection_range_model.py
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/test_analyzer.py
Due: lint_package_update, python_style, python_typing

feat(analyze): add hidden dump-model command to inspect the semantic model
  openspec/changes/archive/2026-07-24-semantic-model-dump-tool/.openspec.yaml
  openspec/changes/archive/2026-07-24-semantic-model-dump-tool/design.md
  openspec/changes/archive/2026-07-24-semantic-model-dump-tool/proposal.md
  openspec/changes/archive/2026-07-24-semantic-model-dump-tool/specs/semantic-model-inspection/spec.md
  openspec/changes/archive/2026-07-24-semantic-model-dump-tool/tasks.md
  openspec/specs/semantic-model-inspection/spec.md
  packages/analyze/src/robotcode/analyze/cli.py
  packages/analyze/src/robotcode/analyze/code/robot_framework_language_provider.py
  packages/analyze/src/robotcode/analyze/dump_model.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/json_dump.py
  tests/robotcode/analyze/test_dump_model_cli.py
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/test_json_dump.py
Due: lint_package_update, python_style, python_typing

feat(language-server): keep EOL tokens in the semantic model
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/signature_help.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/analyzer.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/enums.py
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/_regtest_outputs/test_analyzer_snapshot.test_semantic_analyzer_snapshot[keyword_if_call].out
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/_regtest_outputs/test_analyzer_snapshot.test_semantic_analyzer_snapshot[settings_for_loop].out
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/test_analyzer.py
Due: lint_package_update, python_style, python_typing

chore: shorten pytest output to failures and summary
  pyproject.toml
Due: none

chore: update some npm packages
  docs/package.json
  package-lock.json
  package.json
Due: none

style: some reformating and code styling for new rust version
  .github/instructions/python-development.instructions.md
  dev-docs/semantic-model.md
  docs/04_tip_and_tricks/02_why_variable_not_found.md
  packages/language_server/src/robotcode/language_server/common/parts/diagnostics.py
  packages/repl/src/robotcode/repl/_pt/components.py
  tests/robotcode/repl/test_prompt_toolkit_interpreter.py
Due: lint_package_update, python_style, python_typing

fix(repl): ignore test selection, dry-run, set-tag and skip options from profiles
  docs/03_reference/repl.md
  packages/repl/src/robotcode/repl/run.py
  tests/robotcode/repl/conftest.py
  tests/robotcode/repl/test_run.py
Due: lint_package_update, python_style, python_typing

fix(repl): resolve a relative `--source` against the start directory
  packages/repl/src/robotcode/repl/run.py
  tests/robotcode/repl/test_run.py
Due: lint_package_update, python_style, python_typing

fix(repl): write output files on Robot Framework 5.0 and 6.0 again
  packages/repl/src/robotcode/repl/base_interpreter.py
  packages/repl/src/robotcode/repl/run.py
  tests/robotcode/repl/test_run.py
Due: lint_package_update, python_style, python_typing
