Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: python3.9
default_stages:
  - commit-msg
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: local
    hooks:
      - id: lint_package_update
        name: Update package for lint environment
        entry: hatch run lint:install-packages
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_style
        name: Check Python Style
        entry: hatch run lint:style
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_typing
        name: Check Python Typing
        entry: hatch run lint:typing
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: eslint
        name: Check JavaScript Style and Typing
        entry: npm run lint
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "javascript"

fix(plugin): no blank lines between lines when paging colored output through bat
  packages/plugin/src/robotcode/plugin/__init__.py
  tests/robotcode/plugin/test_echo_as_markdown.py
Due: lint_package_update, python_style, python_typing

docs(openspec): plan the remaining environment variable analysis fixes
  openspec/changes/env-var-check-nested-names/.openspec.yaml
  openspec/changes/env-var-check-nested-names/design.md
  openspec/changes/env-var-check-nested-names/proposal.md
  openspec/changes/env-var-check-nested-names/specs/environment-variable-diagnostics/spec.md
  openspec/changes/env-var-check-nested-names/tasks.md
  openspec/changes/env-var-completion-keep-default/.openspec.yaml
  openspec/changes/env-var-completion-keep-default/design.md
  openspec/changes/env-var-completion-keep-default/proposal.md
  openspec/changes/env-var-completion-keep-default/specs/environment-variable-completion/spec.md
  openspec/changes/env-var-completion-keep-default/tasks.md
  openspec/changes/semantic-tokenizer-escapes/.openspec.yaml
  openspec/changes/semantic-tokenizer-escapes/design.md
  openspec/changes/semantic-tokenizer-escapes/proposal.md
  openspec/changes/semantic-tokenizer-escapes/specs/variable-tokenization/spec.md
  openspec/changes/semantic-tokenizer-escapes/tasks.md
  openspec/changes/variable-name-resolution-errors/.openspec.yaml
  openspec/changes/variable-name-resolution-errors/design.md
  openspec/changes/variable-name-resolution-errors/proposal.md
  openspec/changes/variable-name-resolution-errors/specs/variable-name-resolution/spec.md
  openspec/changes/variable-name-resolution-errors/tasks.md
Due: none

docs(website): show RobotCode in Neovim as a series of screenshots
  docs-next/scripts/convert.mjs
  docs-next/src/components/home/AgentDemo.astro
  docs-next/src/components/home/FeatureTour.astro
  docs-next/src/components/home/demo-player.ts
  docs/images/neovim-completion.png
  docs/images/neovim-diagnostics.png
  docs/images/neovim-inlayhints.png
  docs/images/neovim-references.png
Due: eslint

docs(openspec): keep analyze-config-in-robot as a standalone cleanup
  openspec/changes/analyze-config-in-robot/design.md
  openspec/changes/analyze-config-in-robot/proposal.md
  openspec/changes/analyze-config-in-robot/tasks.md
Due: none

docs(openspec): replan robotcode doc as a live libdoc alternative
  openspec/changes/doc-cli/design.md
  openspec/changes/doc-cli/proposal.md
  openspec/changes/doc-cli/specs/documentation-cli/spec.md
  openspec/changes/doc-cli/specs/keyword-documentation-rendering/spec.md
  openspec/changes/doc-cli/specs/library-documentation-markdown/spec.md
  openspec/changes/doc-cli/tasks.md
Due: none

docs(openspec): shrink library-loading-robustness to the timeout and fallback fixes
  openspec/changes/library-loading-robustness/design.md
  openspec/changes/library-loading-robustness/proposal.md
  openspec/changes/library-loading-robustness/specs/library-imports/spec.md
  openspec/changes/library-loading-robustness/tasks.md
Due: none

docs(openspec): park library-keyword-set-declaration
  openspec/changes/library-keyword-set-declaration/design.md
  openspec/changes/library-keyword-set-declaration/proposal.md
  openspec/changes/library-keyword-set-declaration/specs/library-keyword-set-declaration/spec.md
  openspec/changes/library-keyword-set-declaration/tasks.md
Due: none

docs(openspec): replan the VS Code documentation browser
  openspec/changes/vscode-doc-browser/design.md
  openspec/changes/vscode-doc-browser/proposal.md
  openspec/changes/vscode-doc-browser/specs/vscode-documentation-browser/spec.md
  openspec/changes/vscode-doc-browser/tasks.md
Due: none

docs(openspec): park library-index
  openspec/changes/library-index/design.md
  openspec/changes/library-index/proposal.md
Due: none

docs(openspec): archive the test-metadata-selection change
  openspec/changes/archive/2026-09-30-test-metadata-selection/.openspec.yaml
  openspec/changes/archive/2026-09-30-test-metadata-selection/design.md
  openspec/changes/archive/2026-09-30-test-metadata-selection/proposal.md
  openspec/changes/archive/2026-09-30-test-metadata-selection/specs/cli-reference-generation/spec.md
  openspec/changes/archive/2026-09-30-test-metadata-selection/specs/test-metadata-selection/spec.md
  openspec/changes/archive/2026-09-30-test-metadata-selection/tasks.md
  openspec/specs/cli-reference-generation/spec.md
  openspec/specs/test-metadata-selection/spec.md
Due: none

fix(robot): stop library loads at the timeout and check every set of import arguments
  packages/robot/src/robotcode/robot/diagnostics/errors.py
  packages/robot/src/robotcode/robot/diagnostics/import_resolver.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  tests/robotcode/robot/diagnostics/test_import_resolver_dependency_metas.py
  tests/robotcode/robot/diagnostics/test_import_resolver_load_diagnostics.py
  tests/robotcode/robot/diagnostics/test_library_doc_pickle.py
  tests/robotcode/robot/diagnostics/test_library_loading.py
Due: lint_package_update, python_style, python_typing

docs(analyze): describe import timeouts, early-ended imports and the cache per argument set
  docs/03_reference/analyzing-code.md
Due: none

docs(openspec): update library-loading-robustness after its implementation
  openspec/changes/library-keyword-set-declaration/proposal.md
  openspec/changes/library-loading-robustness/design.md
  openspec/changes/library-loading-robustness/proposal.md
  openspec/changes/library-loading-robustness/specs/library-imports/spec.md
  openspec/changes/library-loading-robustness/tasks.md
Due: none

docs(openspec): archive the library-loading-robustness change
  openspec/changes/archive/2026-09-30-library-loading-robustness/.openspec.yaml
  openspec/changes/archive/2026-09-30-library-loading-robustness/design.md
  openspec/changes/archive/2026-09-30-library-loading-robustness/proposal.md
  openspec/changes/archive/2026-09-30-library-loading-robustness/specs/library-imports/spec.md
  openspec/changes/archive/2026-09-30-library-loading-robustness/tasks.md
  openspec/specs/library-imports/spec.md
Due: none

feat(intellij): require PyCharm or IntelliJ IDEA 2026.1 and update LSP4IJ to 0.21.0
  README.md
  intellij-client/README.md
  intellij-client/build.gradle.kts
  intellij-client/gradle.properties
  intellij-client/gradle/libs.versions.toml
  intellij-client/gradle/wrapper/gradle-wrapper.jar
  intellij-client/gradle/wrapper/gradle-wrapper.properties
  intellij-client/gradlew
  intellij-client/gradlew.bat
Due: none

refactor(textmate): use a separate grammar for Robot Framework code blocks in Markdown
  CONTRIBUTING.md
  intellij-client/build.gradle.kts
  package.json
  scripts/generate_tmlanguage.py
  syntaxes/codeblock_robotframework.tmLanguage.json
  syntaxes/robotframework-markdown.tmLanguage.json
  syntaxes/robotframework.tmLanguage.json
Due: lint_package_update, python_style, python_typing

docs(openspec): plan the intellij-textmate-lexer-api change
  openspec/changes/intellij-textmate-lexer-api/.openspec.yaml
  openspec/changes/intellij-textmate-lexer-api/design.md
  openspec/changes/intellij-textmate-lexer-api/proposal.md
  openspec/changes/intellij-textmate-lexer-api/specs/intellij-syntax-highlighting/spec.md
  openspec/changes/intellij-textmate-lexer-api/tasks.md
Due: none

docs(openspec): plan the intellij-debugger-session-builder change
  openspec/changes/intellij-debugger-session-builder/.openspec.yaml
  openspec/changes/intellij-debugger-session-builder/design.md
  openspec/changes/intellij-debugger-session-builder/proposal.md
  openspec/changes/intellij-debugger-session-builder/specs/intellij-debugging/spec.md
  openspec/changes/intellij-debugger-session-builder/tasks.md
Due: none

refactor(intellij): build the TextMate lexer with the API 2026.1 recommends
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/TextMateBundleHolder.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/highlighting/RobotCodeLexer.kt
  openspec/changes/intellij-textmate-lexer-api/tasks.md
Due: none

fix(intellij): highlight test case and keyword names
  syntaxes/robotframework-markdown.tmLanguage.json
  syntaxes/robotframework.tmLanguage.json
  syntaxes/robotframework.tmLanguage.template.json
Due: none

docs(openspec): archive the intellij-textmate-lexer-api change
  openspec/changes/archive/2026-09-30-intellij-textmate-lexer-api/.openspec.yaml
  openspec/changes/archive/2026-09-30-intellij-textmate-lexer-api/design.md
  openspec/changes/archive/2026-09-30-intellij-textmate-lexer-api/proposal.md
  openspec/changes/archive/2026-09-30-intellij-textmate-lexer-api/specs/intellij-syntax-highlighting/spec.md
  openspec/changes/archive/2026-09-30-intellij-textmate-lexer-api/tasks.md
  openspec/specs/intellij-syntax-highlighting/spec.md
Due: none

refactor(intellij): start debug sessions with the session builder
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/debugging/RobotCodeDebugProgramRunner.kt
  openspec/changes/intellij-debugger-session-builder/tasks.md
Due: none

docs(openspec): archive the intellij-debugger-session-builder change
  openspec/changes/archive/2026-09-30-intellij-debugger-session-builder/.openspec.yaml
  openspec/changes/archive/2026-09-30-intellij-debugger-session-builder/design.md
  openspec/changes/archive/2026-09-30-intellij-debugger-session-builder/proposal.md
  openspec/changes/archive/2026-09-30-intellij-debugger-session-builder/specs/intellij-debugging/spec.md
  openspec/changes/archive/2026-09-30-intellij-debugger-session-builder/tasks.md
  openspec/specs/intellij-debugging/spec.md
Due: none

refactor(intellij): replace the remaining deprecated platform calls
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeBundle.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/execution/RobotCodeRunProfileState.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/testing/RobotCodeTestManager.kt
Due: none

feat(repl): add robotcode doc to show the documentation of libraries, resources and suites
  packages/repl/src/robotcode/repl/_pt/doc_viewer.py
  packages/repl/src/robotcode/repl/cli.py
  packages/repl/src/robotcode/repl/console_interpreter.py
  packages/repl/src/robotcode/repl/doc_cli.py
  packages/repl/src/robotcode/repl/hooks.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/utils/markdown_docs.py
  packages/robot/src/robotcode/robot/utils/markdownformatter.py
  tests/robotcode/language_server/robotframework/parts/test_http_server_markdown.py
  tests/robotcode/repl/test_doc_cli.py
  tests/robotcode/repl/test_doc_viewer.py
  tests/robotcode/repl/test_dot_commands.py
  tests/robotcode/robot/diagnostics/test_library_doc_page.py
  tests/robotcode/robot/diagnostics/test_library_doc_rendering.py
  tests/robotcode/robot/utils/test_markdown_docs.py
  tests/robotcode/robot/utils/test_markdownformatter.py
Due: lint_package_update, python_style, python_typing

docs(repl): describe robotcode doc
  docs-next/scripts/convert.mjs
  docs/03_reference/ai-agents.md
  docs/03_reference/browsing-documentation.md
  docs/03_reference/cli.md
  docs/03_reference/index.md
  docs/03_reference/repl.md
Due: eslint

chore(chat-plugin): sync robotcode skill from agent-plugins
  chat-plugins/.upstream.json
  chat-plugins/robotcode/skills/robotcode/SKILL.md
  chat-plugins/robotcode/skills/robotcode/references/authoring.md
  chat-plugins/robotcode/skills/robotcode/references/install.md
  chat-plugins/robotcode/skills/robotcode/references/repl.md
  chat-plugins/robotcode/skills/robotcode/references/workflows.md
Due: none

docs(openspec): update doc-cli after its implementation and review
  openspec/changes/doc-cli/design.md
  openspec/changes/doc-cli/specs/documentation-cli/spec.md
  openspec/changes/doc-cli/specs/library-documentation-markdown/spec.md
  openspec/changes/doc-cli/tasks.md
Due: none

docs(openspec): plan the doc-viewer-sidebar change
  openspec/changes/doc-viewer-sidebar/.openspec.yaml
  openspec/changes/doc-viewer-sidebar/design.md
  openspec/changes/doc-viewer-sidebar/proposal.md
  openspec/changes/doc-viewer-sidebar/specs/documentation-viewer-sidebar/spec.md
  openspec/changes/doc-viewer-sidebar/tasks.md
Due: none

fix(repl): show links in the documentation viewer without a VT console
  packages/repl/src/robotcode/repl/_pt/doc_viewer.py
  tests/robotcode/repl/test_doc_viewer.py
Due: lint_package_update, python_style, python_typing

docs(openspec): complete the doc-cli tasks
  openspec/changes/doc-cli/tasks.md
Due: none

docs(openspec): archive the doc-cli change
  openspec/changes/archive/2026-10-01-doc-cli/.openspec.yaml
  openspec/changes/archive/2026-10-01-doc-cli/design.md
  openspec/changes/archive/2026-10-01-doc-cli/proposal.md
  openspec/changes/archive/2026-10-01-doc-cli/specs/documentation-cli/spec.md
  openspec/changes/archive/2026-10-01-doc-cli/specs/keyword-documentation-rendering/spec.md
  openspec/changes/archive/2026-10-01-doc-cli/specs/library-documentation-markdown/spec.md
  openspec/changes/archive/2026-10-01-doc-cli/tasks.md
  openspec/specs/documentation-cli/spec.md
  openspec/specs/keyword-documentation-rendering/spec.md
  openspec/specs/library-documentation-markdown/spec.md
Due: none

docs(repl): describe the sidebar of the documentation viewer
  docs/03_reference/browsing-documentation.md
  docs/03_reference/repl.md
Due: none

docs(openspec): update doc-viewer-sidebar after its implementation
  openspec/changes/doc-viewer-sidebar/design.md
  openspec/changes/doc-viewer-sidebar/specs/documentation-viewer-sidebar/spec.md
  openspec/changes/doc-viewer-sidebar/tasks.md
Due: none

feat(repl): add a sidebar with the outline of a library page to the documentation viewer
  packages/repl/src/robotcode/repl/_pt/doc_viewer.py
  packages/repl/src/robotcode/repl/console_interpreter.py
  packages/repl/src/robotcode/repl/doc_cli.py
  packages/repl/src/robotcode/repl/prompt_toolkit_interpreter.py
  tests/robotcode/repl/test_debug_console.py
  tests/robotcode/repl/test_doc_cli.py
  tests/robotcode/repl/test_doc_viewer.py
  tests/robotcode/repl/test_dot_commands.py
Due: lint_package_update, python_style, python_typing

docs(openspec): plan the intellij-theme-independent-colors change
  openspec/changes/intellij-theme-independent-colors/.openspec.yaml
  openspec/changes/intellij-theme-independent-colors/design.md
  openspec/changes/intellij-theme-independent-colors/proposal.md
  openspec/changes/intellij-theme-independent-colors/specs/intellij-syntax-highlighting/spec.md
  openspec/changes/intellij-theme-independent-colors/tasks.md
Due: none

fix(intellij): take highlighting colors from the active color scheme
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/highlighting/Colors.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/highlighting/RobotCodeLexer.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/highlighting/RobotCodeSyntaxHighlighter.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeSemanticTokensColorsProvider.kt
  intellij-client/src/main/resources/META-INF/plugin.xml
  intellij-client/src/main/resources/colorSchemes/RobotDarculaColorScheme.xml
  intellij-client/src/main/resources/colorSchemes/RobotDarkColorScheme.xml
  intellij-client/src/main/resources/colorSchemes/RobotLightColorScheme.xml
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/highlighting/ColorsTest.kt
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/highlighting/RobotCodeSyntaxHighlighterTest.kt
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/lsp/IsDefinedBySchemeTest.kt
  openspec/changes/intellij-theme-independent-colors/tasks.md
Due: none

docs(openspec): archive the doc-viewer-sidebar change
  openspec/changes/archive/2026-10-01-doc-viewer-sidebar/.openspec.yaml
  openspec/changes/archive/2026-10-01-doc-viewer-sidebar/design.md
  openspec/changes/archive/2026-10-01-doc-viewer-sidebar/proposal.md
  openspec/changes/archive/2026-10-01-doc-viewer-sidebar/specs/documentation-viewer-sidebar/spec.md
  openspec/changes/archive/2026-10-01-doc-viewer-sidebar/tasks.md
  openspec/specs/documentation-viewer-sidebar/spec.md
Due: none

docs(openspec): plan the semantic-model-token-rendering change
  openspec/changes/semantic-model-token-rendering/.openspec.yaml
  openspec/changes/semantic-model-token-rendering/design.md
  openspec/changes/semantic-model-token-rendering/proposal.md
  openspec/changes/semantic-model-token-rendering/specs/semantic-highlighting/spec.md
  openspec/changes/semantic-model-token-rendering/specs/semantic-model-tier1-parity/spec.md
  openspec/changes/semantic-model-token-rendering/tasks.md
Due: none

fix(debugger): restrict line breakpoints
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotResourceFileType.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/debugging/breakpoints/RobotCodeLineBreakpointType.kt
Due: none
