Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

lint_package_update:
  name: Update package for lint environment
  entry: hatch run lint:install-packages
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_style:
  name: Check Python Style
  entry: hatch run lint:style
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_typing:
  name: Check Python Typing
  entry: hatch run lint:typing
  pass_filenames: false
  language: system
  stages:
  - pre-commit

eslint:
  name: Check JavaScript Style and Typing
  entry: npm run lint
  pass_filenames: false
  language: system
  stages:
  - pre-commit

chore: update github workflow, create a release only if we create a new tag
  .github/workflows/build-test-package-publish.yml
Due: none

chore: update github workflow
  .github/workflows/build-test-package-publish.yml
Due: none

chore(scripts): better handling of prereleases
  scripts/extract_release_notes.py
  scripts/update_changelog.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 1.2.0 → 1.3.0-dev1
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore: correct is_prerelease script
  scripts/is_prerelease.py
Due: lint_package_update, python_style, python_typing

chore: don't publish prelease versions to vscode market place, because it does not support prerelease tagged versions
  scripts/publish.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 1.3.0-dev1 → 1.3.0-dev2
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore: update publish unit tests results in workflow
  .github/workflows/build-test-package-publish.yml
Due: none

chore: prepare workflow for jetbrains plugin upload
  .github/workflows/build-test-package-publish.yml
Due: none

chore: move python to 3.9 for build environment
  hatch.toml
Due: none

chore: correct changelog
  CHANGELOG.md
Due: none

chore: update skip_tags regex to include beta and dev versions in changelog generation
  cliff.toml
  pyproject.toml
Due: none

chore(release): bump version 1.2.0 → 1.3.0-dev.1
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore: sort commits in changelog from old to new
  cliff.toml
Due: none

chore: update git-cliff config
  cliff.toml
Due: none

chore(release): bump version 1.3.0-dev.1 → 1.3.0-dev.2
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

feat(vscode): add deprecation messages for robotframework-tidy in configuration
  package.json
Due: none

feat(langserver): implemented robocop 6.0 formatting and deprecate old robotidy
  package.json
  packages/core/src/robotcode/core/utils/version.py
  packages/language_server/src/robotcode/language_server/robotframework/configuration.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/formatting.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/project_info.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_tidy_mixin.py
  packages/robot/src/robotcode/robot/utils/__init__.py
  vscode-client/extension/languageclientsmanger.ts
Due: lint_package_update, python_style, python_typing

chore(release): bump version 1.3.0-dev.2 → 1.3.0-dev.3
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(formatting): improve message clarity for robocop formatting
  packages/language_server/src/robotcode/language_server/robotframework/parts/formatting.py
Due: lint_package_update, python_style, python_typing

chore(intellij): specify more intellij platforms for pluginVerification
  intellij-client/build.gradle.kts
Due: none

chore(intellij): add python plugin to runIdeIntellijIdeaC task
  intellij-client/build.gradle.kts
Due: none

chore(vscode): update packages
  docs/package.json
  package-lock.json
  package.json
Due: none

feat(vscode): add language model tools for retrieving library documentation and environment details
  eslint.config.mjs
  package-lock.json
  package.json
  packages/language_server/src/robotcode/language_server/robotframework/parts/keywords_treeview.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/project_info.py
  vscode-client/extension/index.ts
  vscode-client/extension/languageclientsmanger.ts
  vscode-client/extension/lmTools.tsx
  vscode-client/extension/tsconfig.json
Due: lint_package_update, python_style, python_typing, eslint

chore(intellj): fix pluginVerifier workflow
  intellij-client/build.gradle.kts
Due: none

feat(vscode): add language model tool to get the library and resource imports from a robot file
  package.json
  packages/language_server/src/robotcode/language_server/robotframework/parts/keywords_treeview.py
  vscode-client/extension/index.ts
  vscode-client/extension/keywordsTreeViewProvider.ts
  vscode-client/extension/languageclientsmanger.ts
  vscode-client/extension/lmTools.tsx
Due: lint_package_update, python_style, python_typing

chore(release): bump version 1.3.0-dev.3 → 1.3.0-dev.4
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

feat(debugger): update delayed logging handling for Robot Framework 7.3 compatibility
  packages/debugger/src/robotcode/debugger/debugger.py
Due: lint_package_update, python_style, python_typing

docs(contributing): enhance development setup and workflow instructions
  CONTRIBUTING.md
Due: none

refactor(vscode): some refactorings and code cleanup
  package.json
  vscode-client/extension/index.ts
  vscode-client/extension/languageclientsmanger.ts
  vscode-client/extension/lmTools.tsx
  vscode-client/extension/testcontrollermanager.ts
Due: none

feat(analyzer): support for converting resolvable variables with types
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
Due: lint_package_update, python_style, python_typing

fix(net): move SO_REUSEADDR socket option setting to the correct location to speeding up port discovery and preventing bind failures.
  packages/core/src/robotcode/core/utils/net.py
Due: lint_package_update, python_style, python_typing

fix(langserver): disable on-demand startup for the documentation server to ensure it launches on initialization
  package.json
  packages/language_server/src/robotcode/language_server/robotframework/configuration.py
Due: lint_package_update, python_style, python_typing

fix(debugger): improve termination handling
  package.json
  packages/debugger/src/robotcode/debugger/dap_types.py
  packages/debugger/src/robotcode/debugger/debugger.py
  packages/debugger/src/robotcode/debugger/run.py
  packages/debugger/src/robotcode/debugger/server.py
  tests/robotcode/language_server/robotframework/parts/data/.vscode/launch.json
Due: lint_package_update, python_style, python_typing

Path conditions:
  lint_package_update: any of: \.py$
  python_style: any of: \.py$
  python_typing: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
