Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

lint_package_update:
  name: Update package for lint environment
  entry: hatch run lint:install-packages
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_style:
  name: Check Python Style
  entry: hatch run lint:style
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_typing:
  name: Check Python Typing
  entry: hatch run lint:typing
  pass_filenames: false
  language: system
  stages:
  - pre-commit

eslint:
  name: Check JavaScript Style and Typing
  entry: npm run lint
  pass_filenames: false
  language: system
  stages:
  - pre-commit

docs(openspec): add the cli-small-fixes change
  openspec/changes/cli-small-fixes/.openspec.yaml
  openspec/changes/cli-small-fixes/design.md
  openspec/changes/cli-small-fixes/proposal.md
  openspec/changes/cli-small-fixes/specs/cli-reference-generation/spec.md
  openspec/changes/cli-small-fixes/specs/result-file-version-errors/spec.md
  openspec/changes/cli-small-fixes/tasks.md
Due: none

docs(openspec): archive the cli-small-fixes change
  openspec/changes/archive/2026-09-25-cli-small-fixes/.openspec.yaml
  openspec/changes/archive/2026-09-25-cli-small-fixes/design.md
  openspec/changes/archive/2026-09-25-cli-small-fixes/proposal.md
  openspec/changes/archive/2026-09-25-cli-small-fixes/specs/cli-reference-generation/spec.md
  openspec/changes/archive/2026-09-25-cli-small-fixes/specs/result-file-version-errors/spec.md
  openspec/changes/archive/2026-09-25-cli-small-fixes/tasks.md
  openspec/specs/cli-reference-generation/spec.md
  openspec/specs/result-file-version-errors/spec.md
Due: none

fix(repl): make `.vars --user` work at a debugger stop
  docs/03_reference/repl.md
  docs/03_reference/robot-debug.md
  packages/repl/src/robotcode/repl/console_interpreter.py
  tests/robotcode/repl/test_debug_console.py
  tests/robotcode/repl/test_dot_commands.py
Due: lint_package_update, python_style, python_typing

docs(openspec): update the repl-vars-user-at-debug-stop change after its implementation
  openspec/changes/repl-vars-user-at-debug-stop/design.md
  openspec/changes/repl-vars-user-at-debug-stop/proposal.md
  openspec/changes/repl-vars-user-at-debug-stop/specs/repl-variable-listing/spec.md
  openspec/changes/repl-vars-user-at-debug-stop/tasks.md
Due: none

docs(openspec): archive the repl-vars-user-at-debug-stop change
  openspec/changes/archive/2026-09-26-repl-vars-user-at-debug-stop/.openspec.yaml
  openspec/changes/archive/2026-09-26-repl-vars-user-at-debug-stop/design.md
  openspec/changes/archive/2026-09-26-repl-vars-user-at-debug-stop/proposal.md
  openspec/changes/archive/2026-09-26-repl-vars-user-at-debug-stop/specs/repl-variable-listing/spec.md
  openspec/changes/archive/2026-09-26-repl-vars-user-at-debug-stop/tasks.md
  openspec/specs/repl-variable-listing/spec.md
Due: none

docs(openspec): plan the Starlight documentation preview
  openspec/changes/docs-starlight-preview/.openspec.yaml
  openspec/changes/docs-starlight-preview/design.md
  openspec/changes/docs-starlight-preview/proposal.md
  openspec/changes/docs-starlight-preview/specs/documentation-site/spec.md
  openspec/changes/docs-starlight-preview/tasks.md
Due: none

docs(openspec): plan the switch of the documentation site to Starlight
  openspec/changes/migrate-docs-to-starlight/.openspec.yaml
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/proposal.md
  openspec/changes/migrate-docs-to-starlight/specs/documentation-site/spec.md
  openspec/changes/migrate-docs-to-starlight/specs/robot-toml-option-coverage/spec.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

docs(debugger): fix the links to exception breakpoints
  docs/03_reference/repl.md
  docs/03_reference/robot-debug.md
Due: none

docs(website): add a Starlight preview of the site
  .github/workflows/build-test-package-publish.yml
  .github/workflows/docs-next.yml
  .vscodeignore
  AGENTS.md
  CONTRIBUTING.md
  docs-next/.gitignore
  docs-next/README.md
  docs-next/astro.config.mjs
  docs-next/content/getting-started/index.mdx
  docs-next/content/guides/index.mdx
  docs-next/content/index.mdx
  docs-next/content/reference/index.mdx
  docs-next/package-lock.json
  docs-next/package.json
  docs-next/scripts/convert.mjs
  docs-next/src/components/AreaOverview.astro
  docs-next/src/components/Footer.astro
  docs-next/src/components/Header.astro
  docs-next/src/components/Hero.astro
  docs-next/src/components/TopNav.astro
  docs-next/src/components/YouTubeVideo.astro
  docs-next/src/content.config.ts
  docs-next/src/content/i18n/en.json
  docs-next/src/pages/404.astro
  docs-next/src/styles/custom.css
  docs-next/tsconfig.json
  eslint.config.mjs
  package.json
Due: eslint

docs(openspec): update the docs-starlight-preview change after its implementation
  openspec/changes/doc-cli/tasks.md
  openspec/changes/docs-starlight-preview/design.md
  openspec/changes/docs-starlight-preview/specs/documentation-site/spec.md
  openspec/changes/docs-starlight-preview/tasks.md
  openspec/changes/library-index/tasks.md
  openspec/changes/library-keyword-set-declaration/tasks.md
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

docs(website): use the newest dependencies in the preview
  docs-next/astro.config.mjs
  docs-next/package-lock.json
  docs-next/package.json
Due: eslint

docs(openspec): update the docs-starlight-preview change
  openspec/changes/docs-starlight-preview/design.md
  openspec/changes/docs-starlight-preview/proposal.md
  openspec/changes/docs-starlight-preview/tasks.md
Due: none

docs(website): give starlight-blog the MDX integration Starlight uses
  docs-next/package-lock.json
  docs-next/package.json
Due: none

docs(website): check the links of the preview's not-found page
  docs-next/scripts/convert.mjs
Due: eslint

ci(docs): build the preview on changes to the Robot grammar
  .github/workflows/docs-next.yml
Due: none

docs(openspec): complete the docs-starlight-preview change
  openspec/changes/docs-starlight-preview/design.md
  openspec/changes/docs-starlight-preview/tasks.md
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

docs(website): drop the MDX override of the preview
  docs-next/package-lock.json
  docs-next/package.json
Due: none

chore(vscode): target Node 22 in the extension bundle
  esbuild.mjs
Due: eslint

ci(github): run the workflows on Node 26
  .github/workflows/build-test-package-publish.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-next.yml
Due: none

docs(openspec): drop the MDX override and Node 22 from the docs changes
  openspec/changes/docs-starlight-preview/design.md
  openspec/changes/docs-starlight-preview/tasks.md
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/proposal.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

ci(github): use the current npm in the workflows
  .github/workflows/build-test-package-publish.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-next.yml
Due: none

fix(robot): accept an empty default in environment variables
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
  packages/robot/src/robotcode/robot/diagnostics/scope_tree.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/analyzer.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/model.py
  tests/robotcode/robot/diagnostics/test_environment_variable_diagnostics.py
Due: lint_package_update, python_style, python_typing

fix(robot): report variables nested in environment variables with the semantic model
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/variable_tokenizer.py
  tests/robotcode/repl/test_lexer.py
  tests/robotcode/robot/diagnostics/test_environment_variable_diagnostics.py
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/test_variable_pipeline_comparison.py
  tests/robotcode/robot/diagnostics/test_semantic_analyzer/test_variable_tokenizer.py
Due: lint_package_update, python_style, python_typing

feat(repl): let unhandled failures fail the session test and the exit code
  packages/repl/src/robotcode/repl/Repl/repl.py
  packages/repl/src/robotcode/repl/base_interpreter.py
  packages/repl/src/robotcode/repl/cli.py
  packages/repl/src/robotcode/repl/console_interpreter.py
  packages/repl/src/robotcode/repl/run.py
  tests/robotcode/repl/conftest.py
  tests/robotcode/repl/test_cli.py
  tests/robotcode/repl/test_debug_console.py
  tests/robotcode/repl/test_dot_commands.py
  tests/robotcode/repl/test_run.py
  tests/robotcode/repl/test_session_status.py
Due: lint_package_update, python_style, python_typing

docs(openspec): update the REPL exit-status and input-error changes
  openspec/changes/repl-exit-status/design.md
  openspec/changes/repl-exit-status/proposal.md
  openspec/changes/repl-exit-status/specs/repl-session-status/spec.md
  openspec/changes/repl-exit-status/tasks.md
  openspec/changes/repl-report-input-errors/design.md
  openspec/changes/repl-report-input-errors/proposal.md
  openspec/changes/repl-report-input-errors/tasks.md
Due: none

fix(repl): report invalid input instead of silently dropping it
  packages/repl/src/robotcode/repl/_indent.py
  packages/repl/src/robotcode/repl/base_interpreter.py
  packages/repl/src/robotcode/repl/console_interpreter.py
  tests/robotcode/repl/test_input_errors.py
Due: lint_package_update, python_style, python_typing

docs(openspec): update the repl-report-input-errors change after its implementation
  openspec/changes/repl-report-input-errors/design.md
  openspec/changes/repl-report-input-errors/proposal.md
  openspec/changes/repl-report-input-errors/specs/repl-input-errors/spec.md
  openspec/changes/repl-report-input-errors/tasks.md
Due: none

chore(chat-plugin): sync robotcode skill from agent-plugins
  chat-plugins/.upstream.json
  chat-plugins/robotcode/skills/robotcode/SKILL.md
  chat-plugins/robotcode/skills/robotcode/references/debugging.md
  chat-plugins/robotcode/skills/robotcode/references/repl.md
Due: none

docs(repl): document the exit code and how invalid input is handled
  docs/03_reference/cli.md
  docs/03_reference/repl.md
  docs/03_reference/robot-debug.md
Due: none

docs(openspec): tick off the documentation tasks of the REPL changes
  openspec/changes/repl-exit-status/tasks.md
  openspec/changes/repl-report-input-errors/tasks.md
Due: none

docs(openspec): archive the REPL exit-status and input-error changes
  openspec/changes/archive/2026-09-28-repl-exit-status/.openspec.yaml
  openspec/changes/archive/2026-09-28-repl-exit-status/design.md
  openspec/changes/archive/2026-09-28-repl-exit-status/proposal.md
  openspec/changes/archive/2026-09-28-repl-exit-status/specs/repl-session-status/spec.md
  openspec/changes/archive/2026-09-28-repl-exit-status/tasks.md
  openspec/changes/archive/2026-09-28-repl-report-input-errors/.openspec.yaml
  openspec/changes/archive/2026-09-28-repl-report-input-errors/design.md
  openspec/changes/archive/2026-09-28-repl-report-input-errors/proposal.md
  openspec/changes/archive/2026-09-28-repl-report-input-errors/specs/repl-input-errors/spec.md
  openspec/changes/archive/2026-09-28-repl-report-input-errors/tasks.md
  openspec/specs/repl-input-errors/spec.md
  openspec/specs/repl-session-status/spec.md
Due: none

docs(openspec): archive the docs-starlight-preview change
  openspec/changes/archive/2026-09-28-docs-starlight-preview/.openspec.yaml
  openspec/changes/archive/2026-09-28-docs-starlight-preview/design.md
  openspec/changes/archive/2026-09-28-docs-starlight-preview/proposal.md
  openspec/changes/archive/2026-09-28-docs-starlight-preview/specs/documentation-site/spec.md
  openspec/changes/archive/2026-09-28-docs-starlight-preview/tasks.md
  openspec/specs/documentation-site/spec.md
Due: none

docs(openspec): plan selecting tests by their metadata
  openspec/changes/test-metadata-selection/.openspec.yaml
  openspec/changes/test-metadata-selection/design.md
  openspec/changes/test-metadata-selection/proposal.md
  openspec/changes/test-metadata-selection/specs/cli-reference-generation/spec.md
  openspec/changes/test-metadata-selection/specs/test-metadata-selection/spec.md
  openspec/changes/test-metadata-selection/specs/test-metadata/spec.md
  openspec/changes/test-metadata-selection/tasks.md
Due: none

docs(website): rework the home page of the preview
  docs-next/README.md
  docs-next/astro.config.mjs
  docs-next/content/index.mdx
  docs-next/scripts/convert.mjs
  docs-next/src/components/Hero.astro
  docs-next/src/components/home/AgentDemo.astro
  docs-next/src/components/home/AiAgents.astro
  docs-next/src/components/home/FeatureTour.astro
  docs-next/src/components/home/LatestNews.astro
  docs-next/src/components/home/PauseButton.astro
  docs-next/src/components/home/demo-player.ts
  docs-next/src/styles/custom.css
  docs-next/src/styles/home.css
  docs/images/autocomplete1.mp4
  docs/images/running_tests.mp4
Due: eslint

docs(openspec): convert the docs' screen recordings to MP4 at the switch
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

docs(website): take the home page demos from a fuller example project
  docs-next/src/components/home/AgentDemo.astro
  docs-next/src/components/home/FeatureTour.astro
Due: none

feat(runner): select tests and tasks by their metadata
  docs/03_reference/cli.md
  packages/modifiers/src/robotcode/modifiers/__init__.py
  packages/modifiers/src/robotcode/modifiers/metadata_modifiers.py
  packages/repl/src/robotcode/repl/cli.py
  packages/runner/src/robotcode/runner/cli/_robot_version.py
  packages/runner/src/robotcode/runner/cli/_search.py
  packages/runner/src/robotcode/runner/cli/discover/_models.py
  packages/runner/src/robotcode/runner/cli/discover/_render.py
  packages/runner/src/robotcode/runner/cli/discover/discover.py
  packages/runner/src/robotcode/runner/cli/results/results.py
  packages/runner/src/robotcode/runner/cli/robot.py
  scripts/create_cmdline_doc.py
  tests/robotcode/modifiers/__init__.py
  tests/robotcode/modifiers/suites/metadata_selection.robot
  tests/robotcode/modifiers/test_metadata_modifiers.py
  tests/robotcode/repl/test_cli.py
  tests/robotcode/runner/cli/discover/suites/metadata_dir/first.robot
  tests/robotcode/runner/cli/discover/suites/metadata_dir/second.robot
  tests/robotcode/runner/cli/discover/suites/metadata_selection.robot
  tests/robotcode/runner/cli/discover/suites/suite_metadata.robot
  tests/robotcode/runner/cli/discover/test_metadata_index.py
  tests/robotcode/runner/cli/discover/test_metadata_selection.py
  tests/robotcode/runner/cli/results/conftest.py
  tests/robotcode/runner/cli/results/suites/metadata_variables.robot
  tests/robotcode/runner/cli/results/test_filters.py
  tests/robotcode/runner/cli/test_option_order.py
  tests/robotcode/runner/cli/test_robot_by_test_metadata.py
  tests/robotcode/runner/cli/test_test_metadata_help.py
  tests/scripts/__init__.py
  tests/scripts/test_create_cmdline_doc.py
Due: lint_package_update, python_style, python_typing

docs(runner): document selecting tests by their metadata
  docs/03_reference/analyzing-results.md
  docs/03_reference/discovering-tests.md
Due: none

docs(openspec): update the test-metadata-selection change after its implementation
  openspec/changes/test-metadata-selection/design.md
  openspec/changes/test-metadata-selection/proposal.md
  openspec/changes/test-metadata-selection/specs/cli-reference-generation/spec.md
  openspec/changes/test-metadata-selection/specs/test-metadata-selection/spec.md
  openspec/changes/test-metadata-selection/specs/test-metadata/spec.md
  openspec/changes/test-metadata-selection/tasks.md
Due: none

chore(chat-plugin): sync robotcode skill from agent-plugins
  chat-plugins/.upstream.json
  chat-plugins/robotcode/skills/robotcode/SKILL.md
  chat-plugins/robotcode/skills/robotcode/references/authoring.md
  chat-plugins/robotcode/skills/robotcode/references/results.md
Due: none

Path conditions:
  lint_package_update: any of: \.py$
  python_style: any of: \.py$
  python_typing: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
