Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

lint_package_update:
  name: Update package for lint environment
  entry: hatch run lint:install-packages
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_style:
  name: Check Python Style
  entry: hatch run lint:style
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_typing:
  name: Check Python Typing
  entry: hatch run lint:typing
  pass_filenames: false
  language: system
  stages:
  - pre-commit

eslint:
  name: Check JavaScript Style and Typing
  entry: npm run lint
  pass_filenames: false
  language: system
  stages:
  - pre-commit

docs(openspec): plan the argument-description-table change
  openspec/changes/argument-description-table/.openspec.yaml
  openspec/changes/argument-description-table/design.md
  openspec/changes/argument-description-table/proposal.md
  openspec/changes/argument-description-table/specs/keyword-documentation-rendering/spec.md
  openspec/changes/argument-description-table/tasks.md
Due: none

fix(robot): keep the URLs of keyword-local reference definitions on documentation pages
  packages/repl/src/robotcode/repl/doc_cli.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/utils/markdown_docs.py
  tests/robotcode/repl/test_doc_cli.py
  tests/robotcode/robot/diagnostics/test_library_doc_page.py
  tests/robotcode/robot/utils/test_markdown_docs.py
Due: lint_package_update, python_style, python_typing

docs(vscode): document the Documentation Viewer
  docs/02_get_started/index.md
  docs/03_reference/browsing-documentation.md
Due: none

fix(vscode): stop activating RobotCode whenever Markdown is rendered
  package.json
Due: none

feat(vscode): require VS Code 1.127 and build for Node.js 24
  README.md
  docs/02_get_started/index.md
  esbuild.mjs
  openspec/changes/vscode-minimum-1-127/design.md
  openspec/changes/vscode-minimum-1-127/tasks.md
  package-lock.json
  package.json
  vscode-client/extension/utils.ts
Due: eslint

docs(openspec): archive the vscode-minimum-1-127 change
  openspec/changes/archive/2026-10-02-vscode-minimum-1-127/.openspec.yaml
  openspec/changes/archive/2026-10-02-vscode-minimum-1-127/design.md
  openspec/changes/archive/2026-10-02-vscode-minimum-1-127/proposal.md
  openspec/changes/archive/2026-10-02-vscode-minimum-1-127/specs/vscode-extension-compatibility/spec.md
  openspec/changes/archive/2026-10-02-vscode-minimum-1-127/tasks.md
  openspec/specs/vscode-extension-compatibility/spec.md
Due: none

docs(openspec): plan the vscode-minimum-1-127 change
  openspec/changes/vscode-minimum-1-127/.openspec.yaml
  openspec/changes/vscode-minimum-1-127/design.md
  openspec/changes/vscode-minimum-1-127/proposal.md
  openspec/changes/vscode-minimum-1-127/specs/vscode-extension-compatibility/spec.md
  openspec/changes/vscode-minimum-1-127/tasks.md
Due: none

feat(vscode): add the Documentation Viewer
  esbuild.mjs
  package-lock.json
  package.json
  vscode-client/documentationViewer/app.tsx
  vscode-client/documentationViewer/find.ts
  vscode-client/documentationViewer/index.tsx
  vscode-client/documentationViewer/matcher.ts
  vscode-client/documentationViewer/outline.tsx
  vscode-client/documentationViewer/page.ts
  vscode-client/documentationViewer/protocol.ts
  vscode-client/documentationViewer/tsconfig.json
  vscode-client/documentationViewer/types.d.ts
  vscode-client/documentationViewer/viewer.css
  vscode-client/extension/documentationViewer.ts
  vscode-client/extension/index.ts
  vscode-client/extension/keywordsTreeViewProvider.ts
  vscode-client/extension/languageclientsmanger.ts
  vscode-client/extension/pythonmanger.ts
Due: eslint

docs(openspec): record the implementation of vscode-doc-browser
  openspec/changes/vscode-doc-browser/design.md
  openspec/changes/vscode-doc-browser/proposal.md
  openspec/changes/vscode-doc-browser/specs/vscode-documentation-viewer/spec.md
  openspec/changes/vscode-doc-browser/tasks.md
Due: none

docs(openspec): re-plan vscode-doc-browser as the Documentation Viewer
  openspec/changes/library-index/proposal.md
  openspec/changes/vscode-doc-browser/design.md
  openspec/changes/vscode-doc-browser/proposal.md
  openspec/changes/vscode-doc-browser/specs/vscode-documentation-browser/spec.md
  openspec/changes/vscode-doc-browser/specs/vscode-documentation-viewer/spec.md
  openspec/changes/vscode-doc-browser/tasks.md
Due: none

chore(vscode): keep planning documents and the frozen schema out of the VSIX
  .vscodeignore
Due: none

fix(repl): give every keyword its anchor in the JSON of robotcode doc lib
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  tests/robotcode/repl/test_doc_cli.py
  tests/robotcode/robot/diagnostics/test_library_doc_page.py
Due: lint_package_update, python_style, python_typing

chore(vscode): add third-party notices to the VSIX
  .vscodeignore
  esbuild.mjs
Due: eslint

style(robot): drop type ignores that mypy 2.4 no longer needs
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
Due: lint_package_update, python_style, python_typing

docs(openspec): archive the intellij-theme-independent-colors change
  openspec/changes/archive/2026-10-02-intellij-theme-independent-colors/.openspec.yaml
  openspec/changes/archive/2026-10-02-intellij-theme-independent-colors/design.md
  openspec/changes/archive/2026-10-02-intellij-theme-independent-colors/proposal.md
  openspec/changes/archive/2026-10-02-intellij-theme-independent-colors/specs/intellij-syntax-highlighting/spec.md
  openspec/changes/archive/2026-10-02-intellij-theme-independent-colors/tasks.md
  openspec/specs/intellij-syntax-highlighting/spec.md
Due: none

feat(robot): show argument descriptions in a column of the argument table
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  tests/robotcode/robot/diagnostics/test_library_doc_page.py
  tests/robotcode/robot/diagnostics/test_library_doc_rendering.py
Due: lint_package_update, python_style, python_typing

docs(openspec): record the implementation of argument-description-table
  openspec/changes/argument-description-table/tasks.md
Due: none

docs(openspec): archive the argument-description-table change
  openspec/changes/archive/2026-10-02-argument-description-table/.openspec.yaml
  openspec/changes/archive/2026-10-02-argument-description-table/design.md
  openspec/changes/archive/2026-10-02-argument-description-table/proposal.md
  openspec/changes/archive/2026-10-02-argument-description-table/specs/keyword-documentation-rendering/spec.md
  openspec/changes/archive/2026-10-02-argument-description-table/tasks.md
  openspec/specs/keyword-documentation-rendering/spec.md
Due: none

docs(openspec): record the runtime check of vscode-doc-browser
  openspec/changes/vscode-doc-browser/tasks.md
Due: none

docs(openspec): archive the vscode-doc-browser change
  openspec/changes/archive/2026-10-02-vscode-doc-browser/.openspec.yaml
  openspec/changes/archive/2026-10-02-vscode-doc-browser/design.md
  openspec/changes/archive/2026-10-02-vscode-doc-browser/proposal.md
  openspec/changes/archive/2026-10-02-vscode-doc-browser/specs/vscode-documentation-viewer/spec.md
  openspec/changes/archive/2026-10-02-vscode-doc-browser/tasks.md
  openspec/specs/vscode-documentation-viewer/spec.md
Due: none

chore(claude): teach the release-notes skill to write and order a news post
  .claude/skills/create-release-notes/SKILL.md
  .claude/skills/create-release-notes/references/writing-guide.md
Due: none

docs(openspec): plan the doc-viewer-access change
  openspec/changes/doc-viewer-access/.openspec.yaml
  openspec/changes/doc-viewer-access/design.md
  openspec/changes/doc-viewer-access/proposal.md
  openspec/changes/doc-viewer-access/specs/keyword-documentation-rendering/spec.md
  openspec/changes/doc-viewer-access/specs/library-documentation-markdown/spec.md
  openspec/changes/doc-viewer-access/specs/vscode-documentation-viewer/spec.md
  openspec/changes/doc-viewer-access/tasks.md
Due: none

docs(vscode): document the links to the Documentation Viewer
  docs/02_get_started/index.md
  docs/03_reference/browsing-documentation.md
Due: none

feat(robot): link argument and return types to their data types
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/utils/markdown_docs.py
  tests/robotcode/robot/diagnostics/test_library_doc_page.py
  tests/robotcode/robot/diagnostics/test_library_doc_rendering.py
  tests/robotcode/robot/utils/test_markdown_docs.py
Due: lint_package_update, python_style, python_typing

feat(vscode): open the Documentation Viewer from links and the Keywords view
  package.json
  vscode-client/documentationViewer/app.tsx
  vscode-client/documentationViewer/protocol.ts
  vscode-client/extension/documentationViewer.ts
  vscode-client/extension/keywordsTreeViewProvider.ts
  vscode-client/extension/languageclientsmanger.ts
Due: none

fix(robot): show code blocks in Markdown documentation as written
  packages/robot/src/robotcode/robot/utils/markdown_docs.py
  tests/robotcode/robot/utils/test_markdown_docs.py
Due: lint_package_update, python_style, python_typing

fix(robot): keep two libraries of one module apart
  packages/language_server/src/robotcode/language_server/robotframework/parts/references.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
  packages/robot/src/robotcode/robot/diagnostics/semantic_analyzer/analyzer.py
  tests/robotcode/language_server/robotframework/parts/test_libraries_of_one_module.py
Due: lint_package_update, python_style, python_typing

docs(openspec): record the implementation of doc-viewer-access
  openspec/changes/doc-viewer-access/design.md
  openspec/changes/doc-viewer-access/proposal.md
  openspec/changes/doc-viewer-access/specs/vscode-documentation-viewer/spec.md
  openspec/changes/doc-viewer-access/tasks.md
Due: none

docs(openspec): plan keywords of inline IF and Run Keyword in semantic-model-hover
  openspec/changes/semantic-model-hover/design.md
  openspec/changes/semantic-model-hover/proposal.md
  openspec/changes/semantic-model-hover/specs/semantic-model-hover/spec.md
  openspec/changes/semantic-model-hover/tasks.md
Due: none

docs(openspec): plan the completion details of variable files
  openspec/changes/variables-completion-details/.openspec.yaml
  openspec/changes/variables-completion-details/README.md
  openspec/changes/variables-completion-details/design.md
  openspec/changes/variables-completion-details/proposal.md
  openspec/changes/variables-completion-details/specs/keyword-documentation-rendering/spec.md
  openspec/changes/variables-completion-details/tasks.md
Due: none

docs(openspec): plan the argument signature of Variables imports
  openspec/changes/variables-import-signature/.openspec.yaml
  openspec/changes/variables-import-signature/README.md
  openspec/changes/variables-import-signature/design.md
  openspec/changes/variables-import-signature/proposal.md
  openspec/changes/variables-import-signature/specs/keyword-documentation-rendering/spec.md
  openspec/changes/variables-import-signature/specs/library-documentation-extraction/spec.md
  openspec/changes/variables-import-signature/tasks.md
Due: none

chore(claude): teach the release-notes skill to keep a post to its highlights
  .claude/skills/create-release-notes/SKILL.md
  .claude/skills/create-release-notes/references/writing-guide.md
Due: none

docs(openspec): archive the doc-viewer-access change
  openspec/changes/archive/2026-10-03-doc-viewer-access/.openspec.yaml
  openspec/changes/archive/2026-10-03-doc-viewer-access/design.md
  openspec/changes/archive/2026-10-03-doc-viewer-access/proposal.md
  openspec/changes/archive/2026-10-03-doc-viewer-access/specs/keyword-documentation-rendering/spec.md
  openspec/changes/archive/2026-10-03-doc-viewer-access/specs/library-documentation-markdown/spec.md
  openspec/changes/archive/2026-10-03-doc-viewer-access/specs/vscode-documentation-viewer/spec.md
  openspec/changes/archive/2026-10-03-doc-viewer-access/tasks.md
  openspec/specs/keyword-documentation-rendering/spec.md
  openspec/specs/library-documentation-markdown/spec.md
  openspec/specs/vscode-documentation-viewer/spec.md
Due: none

docs(website): show conversations with an AI agent on the home page
  docs-next/src/components/home/AgentDemo.astro
  docs-next/src/components/home/AiAgents.astro
  docs-next/src/components/home/FeatureTour.astro
Due: none

docs(website): keep the editor screenshots inside their feature
  docs-next/src/components/home/FeatureTour.astro
Due: none

docs(openspec): take the reworked home page into the docs switch
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/proposal.md
  openspec/changes/migrate-docs-to-starlight/specs/documentation-site/spec.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

docs(openspec): plan Robot Framework highlighting in the Markdown preview
  openspec/changes/vscode-markdown-robot-highlighting/.openspec.yaml
  openspec/changes/vscode-markdown-robot-highlighting/README.md
  openspec/changes/vscode-markdown-robot-highlighting/design.md
  openspec/changes/vscode-markdown-robot-highlighting/proposal.md
  openspec/changes/vscode-markdown-robot-highlighting/specs/vscode-markdown-robot-highlighting/spec.md
  openspec/changes/vscode-markdown-robot-highlighting/tasks.md
Due: none

Path conditions:
  lint_package_update: any of: \.py$
  python_style: any of: \.py$
  python_typing: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
