Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: python3.9
default_stages:
  - commit-msg
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: local
    hooks:
      - id: lint_package_update
        name: Update package for lint environment
        entry: hatch run lint:install-packages
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_style
        name: Check Python Style
        entry: hatch run lint:style
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_typing
        name: Check Python Typing
        entry: hatch run lint:typing
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: eslint
        name: Check JavaScript Style and Typing
        entry: npm run lint
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "javascript"

feat(vscode): highlight Robot Framework code blocks in Markdown previews
  package-lock.json
  package.json
  vscode-client/extension/index.ts
  vscode-client/extension/markdownHighlighting.ts
Due: none

docs(openspec): record the implementation of vscode-markdown-robot-highlighting
  openspec/changes/vscode-markdown-robot-highlighting/design.md
  openspec/changes/vscode-markdown-robot-highlighting/proposal.md
  openspec/changes/vscode-markdown-robot-highlighting/tasks.md
Due: none

docs(vscode): mention the highlighted Robot Framework code blocks
  docs/03_reference/browsing-documentation.md
Due: none

docs(openspec): archive the vscode-markdown-robot-highlighting change
  openspec/changes/archive/2026-10-04-vscode-markdown-robot-highlighting/.openspec.yaml
  openspec/changes/archive/2026-10-04-vscode-markdown-robot-highlighting/README.md
  openspec/changes/archive/2026-10-04-vscode-markdown-robot-highlighting/design.md
  openspec/changes/archive/2026-10-04-vscode-markdown-robot-highlighting/proposal.md
  openspec/changes/archive/2026-10-04-vscode-markdown-robot-highlighting/specs/vscode-markdown-robot-highlighting/spec.md
  openspec/changes/archive/2026-10-04-vscode-markdown-robot-highlighting/tasks.md
  openspec/specs/vscode-markdown-robot-highlighting/spec.md
Due: none

docs(website): show RobotCode in VS Code and PyCharm in the editor series
  docs-next/scripts/convert.mjs
  docs-next/src/components/home/FeatureTour.astro
  docs/images/pycharm-completion.png
  docs/images/pycharm-diagnostics.png
  docs/images/pycharm-hover.png
  docs/images/pycharm-inlayhints.png
  docs/images/pycharm-references.png
  docs/images/vscode-completion.png
  docs/images/vscode-diagnostics.png
  docs/images/vscode-hover.png
  docs/images/vscode-inlayhints.png
  docs/images/vscode-references.png
Due: eslint

docs(website): record the home page videos anew, with a debug session
  docs-next/scripts/convert.mjs
  docs-next/src/components/home/FeatureTour.astro
  docs-next/src/components/home/demo-player.ts
  docs/images/autocomplete1.mp4
  docs/images/running_tests.mp4
  docs/images/vscode-code-intelligence.mp4
  docs/images/vscode-debug.mp4
  docs/images/vscode-run-tests.mp4
Due: eslint

docs(openspec): release the docs switch together with the demoed commands
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/proposal.md
  openspec/changes/migrate-docs-to-starlight/specs/documentation-site/spec.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

docs(openspec): plan CI tests for the IntelliJ plugin
  openspec/changes/intellij-ci-tests/.openspec.yaml
  openspec/changes/intellij-ci-tests/design.md
  openspec/changes/intellij-ci-tests/proposal.md
  openspec/changes/intellij-ci-tests/specs/continuous-integration/spec.md
  openspec/changes/intellij-ci-tests/tasks.md
  openspec/changes/intellij-ui-tests/.openspec.yaml
  openspec/changes/intellij-ui-tests/design.md
  openspec/changes/intellij-ui-tests/proposal.md
  openspec/changes/intellij-ui-tests/specs/continuous-integration/spec.md
  openspec/changes/intellij-ui-tests/tasks.md
Due: none

docs(website): replace the GIF recordings with the example project's videos
  docs-next/scripts/convert.mjs
  docs/01_about/images/autocomplete1.gif
  docs/01_about/images/autocomplete2.gif
  docs/01_about/images/running_tests.gif
  docs/01_about/index.md
  docs/images/autocomplete1.gif
  docs/images/autocomplete2.gif
  docs/images/running_tests.gif
  docs/index.md
  docs/public/autocomplete1.gif
  docs/public/running_tests.gif
Due: eslint

docs(openspec): leave the About page's recordings out of the GIF conversion
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
Due: none

chore(eslint): ignore the playground folder
  eslint.config.mjs
Due: eslint

fix(vscode): start the language server for folders with Robot Framework files
  vscode-client/extension/languageclientsmanger.ts
Due: none

chore(vscode): update the npm packages
  package-lock.json
  package.json
Due: none

docs(openspec): record the implementation of migrate-docs-to-starlight
  openspec/changes/analyze-config-in-robot/design.md
  openspec/changes/analyze-config-in-robot/proposal.md
  openspec/changes/analyze-config-in-robot/tasks.md
  openspec/changes/library-index/design.md
  openspec/changes/library-index/proposal.md
  openspec/changes/library-index/tasks.md
  openspec/changes/library-keyword-set-declaration/design.md
  openspec/changes/library-keyword-set-declaration/proposal.md
  openspec/changes/library-keyword-set-declaration/tasks.md
  openspec/changes/markdown-suites/proposal.md
  openspec/changes/markdown-suites/tasks.md
  openspec/changes/migrate-docs-to-starlight/design.md
  openspec/changes/migrate-docs-to-starlight/proposal.md
  openspec/changes/migrate-docs-to-starlight/specs/documentation-site/spec.md
  openspec/changes/migrate-docs-to-starlight/tasks.md
  openspec/specs/cli-reference-generation/spec.md
Due: none

fix(textmate): highlight Robot Framework code in files, Markdown and the REPL as Robot Framework reads it
  CONTRIBUTING.md
  scripts/generate_tmlanguage.py
  syntaxes/robotframework-markdown.tmLanguage.json
  syntaxes/robotframework-repl.tmLanguage.json
  syntaxes/robotframework.tmLanguage.json
  syntaxes/robotframework.tmLanguage.template.json
Due: lint_package_update, python_style, python_typing

docs(openspec): record and archive the textmate-grammar-fixes change
  openspec/changes/archive/2026-10-05-textmate-grammar-fixes/.openspec.yaml
  openspec/changes/archive/2026-10-05-textmate-grammar-fixes/README.md
  openspec/changes/archive/2026-10-05-textmate-grammar-fixes/design.md
  openspec/changes/archive/2026-10-05-textmate-grammar-fixes/proposal.md
  openspec/changes/archive/2026-10-05-textmate-grammar-fixes/specs/localized-section-headers-highlighting/spec.md
  openspec/changes/archive/2026-10-05-textmate-grammar-fixes/specs/textmate-grammar/spec.md
  openspec/changes/archive/2026-10-05-textmate-grammar-fixes/tasks.md
  openspec/specs/textmate-grammar/spec.md
Due: none

perf(docs): load only the shown picture on the home page
  docs/src/components/Hero.astro
Due: none

fix(docs): load the RoboCon video on click and name link targets
  docs/src/components/home/FeatureTour.astro
  docs/src/content/docs/getting-started/vscode.mdx
Due: none

chore(vscode): update Preact to 11
  package-lock.json
  package.json
  vscode-client/documentationViewer/types.d.ts
Due: none

docs(openspec): plan the semantic-tokens-variable-names change
  openspec/changes/semantic-model-switchover/design.md
  openspec/changes/semantic-model-switchover/proposal.md
  openspec/changes/semantic-model-switchover/specs/semantic-model-variable-modifiers/spec.md
  openspec/changes/semantic-model-switchover/tasks.md
  openspec/changes/semantic-model-token-rendering/design.md
  openspec/changes/semantic-model-token-rendering/proposal.md
  openspec/changes/semantic-model-token-rendering/specs/semantic-highlighting/spec.md
  openspec/changes/semantic-model-token-rendering/tasks.md
  openspec/changes/semantic-tokens-variable-names/.openspec.yaml
  openspec/changes/semantic-tokens-variable-names/design.md
  openspec/changes/semantic-tokens-variable-names/proposal.md
  openspec/changes/semantic-tokens-variable-names/specs/intellij-syntax-highlighting/spec.md
  openspec/changes/semantic-tokens-variable-names/specs/semantic-highlighting/spec.md
  openspec/changes/semantic-tokens-variable-names/tasks.md
Due: none

docs(openspec): plan the home-feature-tour-examples change
  openspec/changes/home-feature-tour-examples/.openspec.yaml
  openspec/changes/home-feature-tour-examples/design.md
  openspec/changes/home-feature-tour-examples/proposal.md
  openspec/changes/home-feature-tour-examples/specs/documentation-site/spec.md
  openspec/changes/home-feature-tour-examples/tasks.md
Due: none

chore(claude): teach the release-notes skill about rebuilt websites and later commits
  .claude/skills/create-release-notes/SKILL.md
  .claude/skills/create-release-notes/references/writing-guide.md
Due: none

feat(docs): show several examples for each feature of the home page tour
  docs/src/assets/screenshots/vscode-code-intelligence.mp4
  docs/src/assets/screenshots/vscode-debug-console.mp4
  docs/src/assets/screenshots/vscode-debug-failure.mp4
  docs/src/assets/screenshots/vscode-debug.mp4
  docs/src/assets/screenshots/vscode-diagnostics.mp4
  docs/src/assets/screenshots/vscode-documentation-viewer.mp4
  docs/src/assets/screenshots/vscode-find-references.mp4
  docs/src/assets/screenshots/vscode-go-to-definition.mp4
  docs/src/assets/screenshots/vscode-keywords-view.mp4
  docs/src/assets/screenshots/vscode-log-after-run.mp4
  docs/src/assets/screenshots/vscode-profile.mp4
  docs/src/assets/screenshots/vscode-repl.mp4
  docs/src/assets/screenshots/vscode-robot-toml.mp4
  docs/src/assets/screenshots/vscode-run-tests.mp4
  docs/src/components/home/FeatureTour.astro
  docs/src/components/home/demo-player.ts
  docs/src/styles/home.css
Due: none

docs(openspec): record the implementation of home-feature-tour-examples
  openspec/changes/home-feature-tour-examples/design.md
  openspec/changes/home-feature-tour-examples/tasks.md
Due: none

docs(website): name the period key by its scan code in the source-action binding
  docs/src/content/docs/guides/browsing-documentation.md
Due: none

docs(openspec): record the implementation of semantic-tokens-variable-names
  openspec/changes/semantic-tokens-variable-names/design.md
  openspec/changes/semantic-tokens-variable-names/proposal.md
  openspec/changes/semantic-tokens-variable-names/specs/intellij-syntax-highlighting/spec.md
  openspec/changes/semantic-tokens-variable-names/specs/semantic-highlighting/spec.md
  openspec/changes/semantic-tokens-variable-names/tasks.md
Due: none

fix(intellij): color type hints, named arguments, namespaces and operators as what they are
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/configuration/RobotCodeColorSettingsPage.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/highlighting/Colors.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeSemanticTokensColorsProvider.kt
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/configuration/RobotCodeColorSettingsPageTest.kt
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/highlighting/ColorsTest.kt
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeSemanticTokensColorsProviderTest.kt
Due: none

docs(openspec): archive the semantic-tokens-variable-names change
  openspec/changes/archive/2026-10-05-semantic-tokens-variable-names/.openspec.yaml
  openspec/changes/archive/2026-10-05-semantic-tokens-variable-names/design.md
  openspec/changes/archive/2026-10-05-semantic-tokens-variable-names/proposal.md
  openspec/changes/archive/2026-10-05-semantic-tokens-variable-names/specs/intellij-syntax-highlighting/spec.md
  openspec/changes/archive/2026-10-05-semantic-tokens-variable-names/specs/semantic-highlighting/spec.md
  openspec/changes/archive/2026-10-05-semantic-tokens-variable-names/tasks.md
  openspec/specs/intellij-syntax-highlighting/spec.md
  openspec/specs/semantic-highlighting/spec.md
Due: none

fix(intellij): offer Robot Framework breakpoints only in Robot Framework files
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/debugging/breakpoints/RobotCodeLineBreakpointType.kt
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/debugging/breakpoints/RobotCodeLineBreakpointTypeTest.kt
Due: none

test(language-server): open the semantic token test files outside the test workspace
  tests/robotcode/language_server/robotframework/parts/test_semantic_tokens_variables.py
Due: lint_package_update, python_style, python_typing

fix(robot): keep every code of an action that repeats in a robotcode: comment
  packages/robot/src/robotcode/robot/diagnostics/diagnostics_modifier.py
  tests/robotcode/robot/diagnostics/test_modifiers.py
Due: lint_package_update, python_style, python_typing

fix(runner): leave the source of a suite without its own file empty in discover
  packages/runner/src/robotcode/runner/cli/discover/discover.py
  tests/robotcode/runner/cli/discover/test_suites.py
Due: lint_package_update, python_style, python_typing

fix(runner): list the files of discover files in the order of the given paths
  packages/runner/src/robotcode/runner/cli/discover/discover.py
  tests/robotcode/runner/cli/discover/test_files.py
Due: lint_package_update, python_style, python_typing

fix(runner): say that summary --failed lists the failed tests below the counts
  docs/src/content/docs/reference/cli.md
  packages/runner/src/robotcode/runner/cli/results/results.py
Due: lint_package_update, python_style, python_typing

docs(website): correct settings, commands, claims and examples after a review
  README.md
  docs/src/components/home/AgentDemo.astro
  docs/src/content/docs/about.mdx
  docs/src/content/docs/contributing.md
  docs/src/content/docs/getting-started/configuration.md
  docs/src/content/docs/getting-started/index.mdx
  docs/src/content/docs/getting-started/neovim.mdx
  docs/src/content/docs/getting-started/vscode.mdx
  docs/src/content/docs/guides/analyzing-code.md
  docs/src/content/docs/guides/analyzing-results.md
  docs/src/content/docs/guides/avoid-global-resource-file.mdx
  docs/src/content/docs/guides/browsing-documentation.md
  docs/src/content/docs/guides/discovering-tests.md
  docs/src/content/docs/guides/ignoring-files.md
  docs/src/content/docs/guides/repl.md
  docs/src/content/docs/guides/robot-debug.md
  docs/src/content/docs/guides/variable-not-found.md
  docs/src/content/docs/guides/vscode-highlighting.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/cli.md
  docs/src/content/docs/reference/diagnostics-modifiers.md
Due: none

docs(openspec): name the home page actions VS Code Extension and JetBrains Plugin
  openspec/changes/home-feature-tour-examples/specs/documentation-site/spec.md
  openspec/changes/migrate-docs-to-starlight/specs/documentation-site/spec.md
Due: none

chore(chat-plugin): sync robotcode skill from agent-plugins
  chat-plugins/.upstream.json
  chat-plugins/robotcode/skills/robotcode/SKILL.md
  chat-plugins/robotcode/skills/robotcode/references/analyze.md
  chat-plugins/robotcode/skills/robotcode/references/config.md
  chat-plugins/robotcode/skills/robotcode/references/debugging.md
  chat-plugins/robotcode/skills/robotcode/references/results.md
Due: none

fix(intellij): keep jumping to the keyword in a call with a library or resource prefix
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeTokensFileViewProviderFactory.kt
  intellij-client/src/test/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeTokensFileViewProviderTest.kt
Due: none
