Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: python3.9
default_stages:
  - commit-msg
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: local
    hooks:
      - id: lint_package_update
        name: Update package for lint environment
        entry: hatch run lint:install-packages
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_style
        name: Check Python Style
        entry: hatch run lint:style
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: python_typing
        name: Check Python Typing
        entry: hatch run lint:typing
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "python"
      - id: eslint
        name: Check JavaScript Style and Typing
        entry: npm run lint
        pass_filenames: false
        language: system
        stages: [pre-commit]
        types:
          - "javascript"

chore: update packages
  docs/package.json
  package-lock.json
  package.json
Due: none

Added cache to same_file check
  packages/core/src/robotcode/core/utils/path.py
Due: lint_package_update, python_style, python_typing

Added cache size limit
  packages/core/src/robotcode/core/utils/path.py
Due: lint_package_update, python_style, python_typing

Increased cache size limit for `search_variable`
  packages/robot/src/robotcode/robot/utils/variables.py
Due: lint_package_update, python_style, python_typing

docs(tips-and-tricks): LSP setup guide for Neovim
  docs/04_tip_and_tricks/04_neovim_lsp_setup.md
  docs/04_tip_and_tricks/images/neovim-mason-import-errors.png
Due: none

docs(tips-and-tricks): make LSP config OS independent
  docs/04_tip_and_tricks/04_neovim_lsp_setup.md
Due: none

fix (analysis): Obey openFilesOnly in analysis
  packages/language_server/src/robotcode/language_server/common/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robot_workspace.py
Due: lint_package_update, python_style, python_typing

chore: fix typos and unused import
  CLAUDE.md
  CONTRIBUTING.md
Due: none

feat: Refactor lint/format methods for Robocop 8.0+
  packages/language_server/src/robotcode/language_server/robotframework/parts/formatting.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_diagnostics.py
Due: lint_package_update, python_style, python_typing

fix(robocop): Fix circular dependency import error with Robocop 8.0+
  CLAUDE.md
  CONTRIBUTING.md
  hatch.toml
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_helper.py
Due: lint_package_update, python_style, python_typing

chore: Add Robocop development environment to hatch
  CONTRIBUTING.md
  hatch.toml
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_diagnostics.py
Due: lint_package_update, python_style, python_typing

feat(robocop): Robocop 8.0 support
  packages/language_server/src/robotcode/language_server/robotframework/parts/formatting.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_helper.py
Due: lint_package_update, python_style, python_typing

chore: update dependencies
  docs/package.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint

style: some code formatting
  packages/core/src/robotcode/core/utils/dataclasses.py
  packages/debugger/src/robotcode/debugger/debugger.py
  packages/jsonrpc2/src/robotcode/jsonrpc2/protocol.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/runner/src/robotcode/runner/cli/libdoc.py
  packages/runner/src/robotcode/runner/cli/rebot.py
  packages/runner/src/robotcode/runner/cli/robot.py
  packages/runner/src/robotcode/runner/cli/testdoc.py
Due: lint_package_update, python_style, python_typing

chore: remove ts-loader dependency from package.json
  package-lock.json
  package.json
Due: none

ci: update some actions ans remove retry for pytests
  .github/workflows/build-test-package-publish.yml
Due: none

chore(release): bump version 2.2.0 → 2.3.0
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(langserver): update version check for Robocop in formatting and diagnostics parts
  packages/language_server/src/robotcode/language_server/robotframework/parts/formatting.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_diagnostics.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 2.3.0 → 2.3.1
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

perf(robot): use file_id tuples instead of os.path.samefile for path comparison
  packages/core/src/robotcode/core/utils/path.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
Due: lint_package_update, python_style, python_typing

refactor(imports_manager): cleanup and fix correctness issues
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
Due: lint_package_update, python_style, python_typing

chore(instructions): update copilot instructions
  .github/copilot-instructions.md
  .github/instructions/python-development.instructions.md
  .github/instructions/typescript-vscode.instructions.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

perf(diagnostics): skip full AST model parsing when no robotcode: markers present
  packages/robot/src/robotcode/robot/diagnostics/diagnostics_modifier.py
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
Due: lint_package_update, python_style, python_typing

refactor(robot): replace __del__ with weakref.finalize in imports_manager
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
Due: lint_package_update, python_style, python_typing

perf(robot): remove unnecessary token list caching from document cache
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
Due: lint_package_update, python_style, python_typing

test: add library folder to test project
  tests/robotcode/language_server/robotframework/parts/data/src/data/__init__.py
Due: lint_package_update, python_style, python_typing

perf(robot): cache LibraryDoc for robot and resource files on disk
  packages/robot/src/robotcode/robot/diagnostics/data_cache.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
Due: lint_package_update, python_style, python_typing

refactor(robot): remove unnecessary finalizers and dispose chain
  packages/analyze/src/robotcode/analyze/code/cli.py
  packages/language_server/src/robotcode/language_server/common/parts/workspace.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
Due: lint_package_update, python_style, python_typing

feat(plugin): add fast exit option to Application.exit method
  packages/analyze/src/robotcode/analyze/code/cli.py
  packages/plugin/src/robotcode/plugin/__init__.py
Due: lint_package_update, python_style, python_typing

fix(dependencies): update click version to 8.2.0 in requirements files
  bundled_requirements.txt
  packages/plugin/pyproject.toml
Due: none

chore: update some packages
  package-lock.json
  package.json
Due: none

fix(vscode): fix invalid glob pattern in selectConfigurationProfiles
  vscode-client/extension/testcontrollermanager.ts
Due: none

chore(release): bump version 2.3.1 → 2.4.0
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

refactor(jsonrpc2): harden resource lifecycle without __del__
  packages/debugger/src/robotcode/debugger/launcher/client.py
  packages/debugger/src/robotcode/debugger/launcher/server.py
  packages/jsonrpc2/src/robotcode/jsonrpc2/server.py
  packages/language_server/src/robotcode/language_server/common/protocol.py
Due: lint_package_update, python_style, python_typing

perf(diagnostics): consolidate to single AST model and remove data_only parameter
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_documentation.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_quick_fixes.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_refactor.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/completion.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/debugging_utils.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/document_symbols.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/folding_range.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/formatting.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/inlay_hint.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/inline_value.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robocop_diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/selection_range.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/signature_help.py
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
Due: lint_package_update, python_style, python_typing

fix(robot): add lock for _workspace_languages to prevent race condition
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
Due: lint_package_update, python_style, python_typing

chore: update .gitignore to include .kilocode and .agents directories
  .gitignore
Due: none
